<md-dialog aria-label="sign in" flex="25" ng-cloak>
    <form name="signIn" id="sign-in">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{"Log In" | uppercase}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Email Address</label>
                            <md-icon class="email">
                                <span class ="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </md-icon>
                            <input type="text" ng-model="modalCtrl.formData.email" name="name" required>
                            <div ng-if="signIn.email.$touched || modalCtrl.showErrorMessages" ng-messages="signIn.email.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="column">
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <md-icon class="email">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </md-icon>
                            <input type="password" ng-model="modalCtrl.formData.password" name="password" required>
                            <div ng-if="signIn.password.$touched || modalCtrl.showErrorMessages" ng-messages="signIn.password.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>
                    </div>
                  </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="create-question-actions">
                <div class="pull-right">
                    <md-button ng-click="modalCtrl.closeModal()" class="green-txt-btn">
                        Cancel
                    </md-button>
                    <md-button ng-click="modalCtrl.signIn()" class="outline-btn-green" style="margin-right:20px;">
                        Log in
                    </md-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
