<div class="container-fluid" id="userProfile">
    <div class="row userInfo" flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-md card-media"></div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">User A</span>
                    <span class="md-subhead">Info</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Tips</md-button>
                <md-button>Followers</md-button>
                <md-button>Following</md-button>
                <md-button>Liked Places</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="row" id="recent-checkins">

    </div>
    <div class="row" id="top-cities">

    </div>
</div>