<div class="container-fluid" id="userProfile">
    <div class="row userInfo" flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-md card-media"></div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline">User A</span>
                    <span class="md-subhead">Info</span>
                </md-card-title-text>
            </md-card-title>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="News Feed">
                            <md-content class="md-padding">
                            </md-content>
                        </md-tab>
                        <md-tab label="Followers">
                            <md-content class="md-padding">
                            </md-content>
                        </md-tab>
                        <md-tab label="Following">
                            <md-content class="md-padding">
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-card>
    </div>
</div>