<div class="container-fluid" id="venue-details">
    <div class="row image-slider">
        Image Slider
        <slick infinite="true" dots="true" arrows="true" data="photoStream" init-onload="true">
            <!--<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <img ng-src="../images/placeholder-{{$index%15}}.jpg">
            </div>-->
        </slick>
    </div>
    <div class="row venue-info">
        <div class="panel" ng-if = "venueCtrl.venue">
            <span>{{ venueCtrl.venue.VENUE_NAME }}</span></br>
            <span>Phone: {{ venueCtrl.venue.PHONE }}</span></br>
            <span>{{ venueCtrl.venue.CITY }}, {{ venueCtrl.venue.COUNTRY }}, {{ venueCtrl.venue.POSTAL_CODE }}</span></br>
            <span>{{ venueCtrl.venue.RATING }} </span></br>
            <md-button align="bottom" class="btn" ng-click="ctrl.openModal($event,'logIn')" class="md-raised md-accent">
                Add to Favourites
            </md-button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="panel review-count">
                <div class="text">
                    <span>
                        Total {{ venueCtrl.venue.REVIEW_COUNT }} reviews and {{ venueCtrl.venue.CHECK_IN_COUNT }} check-ins for this place.
                    </span><br>

                </div>
                <div class="text">
                    <span>
                        Filter By:
                    </span>
                    <input type="text" name="keyword" class="form-control filter" placeholder="Keyword"
                           ng-model="filterKeyword" required>
                </div>
            </div>
            <div class="panel reviews">
                <md-card class="review-container">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Review</span>
                        <span class="md-subhead">rating</span>
                    </md-card-title-text>
                </md-card-title>
                </md-card>

                <md-card class="review-container">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Review</span>
                            <span class="md-subhead">rating</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>

                <md-card class="review-container">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Review</span>
                            <span class="md-subhead">rating</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div class="col-md-3 panel suggestions">
            <div class="row map">
                <nvd3 options='venueCtrl.options' data='venueCtrl.data'></nvd3>
            </div>
            <div class="row suggestionsOne">
                <div class="row text">
                    <span>
                        You may also like
                    </span><br>
                </div>
                <div class="row suggestion-container">
                    <div class="col-md-3">
                        Image
                    </div>
                    <div class="col-md-9">
                        <span>
                            Outlet Name
                        </span><br>
                        <span>
                            Location
                        </span>
                    </div>
                </div>

                <div class="row suggestion-container">
                    <div class="col-md-3">
                        Image
                    </div>
                    <div class="col-md-9">
                        <span>
                            Outlet Name
                        </span><br>
                        <span>
                            Location
                        </span>
                    </div>
                </div>

                <div class="row suggestion-container">
                    <div class="col-md-3">
                        Image
                    </div>
                    <div class="col-md-9">
                        <span>
                            Outlet Name
                        </span><br>
                        <span>
                            Location
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>