<nav class="navbar navbar-default custom-navbar header" ng-controller="HeaderController as ctrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">{{ctrl.appName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <div class="header-search" search-bar></div>
            <ul ng-if="!ctrl.currentUser.name" class="nav navbar-nav navbar-right">
                <li>
                    <md-button ng-click="ctrl.openModal($event,'signUp')" class="md-raised md-primary green">Sign up</md-button>
                </li>
                <li>
                    <md-button ng-click="ctrl.openModal($event,'logIn')" class="md-raised md-accent">Log in</md-button>
                </li>
            </ul>
            <div class="pull-right" ng-if="ctrl.currentUser.name">
                <div class="user-handle">
                    <span class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ctrl.currentUser.name}}</a></span>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>